<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta property="og:title" content="마이 판타지 스타"/>
        <meta property="og:description" content="이번주의 축신은 누구 "/>
        <meta property="og:image" content="{{ url_for('static', filename='main.jpg') }}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        <title>내가 뽑는 축신 | My "Fantasy Star"</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <style>
            .center {
                text-align: center;
            }

            .star-list {
                width: 500px;
                margin: 20px auto 0 auto;
            }

            .star-name {
                display: inline-block;
            }

            .star-name:hover {
                text-decoration: underline;
            }

            .card {
                margin-bottom: 15px;
            }


        </style>
        <script>
            $(document).ready(function () {
                // index.html 로드가 완료되면 자동으로 showStar() 함수를 호출합니다.
                showStar();
            });

            function showStar() {
                $.ajax({
                    type: 'GET',
                    url: '/api/list',
                    data: {},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            let stars = response['stars_list'];

                            for (let i = 0; i < stars.length; i++) {
                                let star = stars[i]
                                let imgUrl = star['img_url']
                                let name = star['name']
                                let position = star['position']
                                let match = star['match']
                                let goal = star['goal']
                                let assi = star['assi']

                                let tempHtml = `<div class="card">
                                                <div class="card-content">
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <figure class="image is-48x48">
                                                                <img
                                                                        src="${imgUrl}"
                                                                        alt="Placeholder image"
                                                                />
                                                            </figure>
                                                        </div>
                                                        <div class="media-content">
                                                            <a href="${url}" target="_blank" class="star-name title is-4">${name} (좋아요: ${like})</a>
                                                            <p class="subtitle is-6">${recentMovie}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <footer class="card-footer">
                                                    <a href="#" onclick="likeStar('${name}')" class="card-footer-item has-text-info">
                                                        위로!
                                                        <span class="icon">
                                              <i class="fas fa-thumbs-up"></i>
                                            </span>
                                                    </a>
                                                    <a href="#" onclick="deleteStar('${name}')" class="card-footer-item has-text-danger">
                                                        삭제
                                                        <span class="icon">
                                              <i class="fas fa-ban"></i>
                                            </span>
                                                    </a>
                                                </footer>
                                            </div>`

                                $('#star-box').append(tempHtml);

                            }


                        }
                    }
                });
            }

            function likeStar(name) {
                $.ajax({
                    type: 'POST',
                    url: '/api/like',
                    data: {
                        'name_give': name
                    },
                    success: function (response) {
                        if (response['result'] == 'success') {
                            let msg = response['msg'];
                            alert(msg);
                            window.location.reload();
                        }
                    }
                });
            }

            function deleteStar(name) {
                $.ajax({
                    type: 'POST',
                    url: '/api/delete',
                    data: {
                        'name_give': name
                    },
                    success: function (response) {
                        if (response['result'] == 'success') {
                            let msg = response['msg'];
                            alert(msg);
                            window.location.reload();
                        }
                    }
                });
            }

        </script>
    </head>
    <body>
        <section class="hero is-warning">
            <div style="background-color:rebeccapurple" ; class="hero-body">
                <div class="container center">
                    <h1 style="font-size: 50px;color: white; font-family:Verdana;  " ; class="title">
                        <img src="https://1000logos.net/wp-content/uploads/2017/05/Premier-League-logo-500x210.png"
                             width="200" height="200"><strong>MY Fantasy Star</strong>
                    </h1>
                    <h2 style="font-size:30px;color: white; font-family: Verdana;" ; class="subtitle">
                        <strong>나만의 축신에 투표해주세요!</strong>
                    </h2>
                </div>
            </div>
        </section>
        <div class="star-list" id="star-box">


            <div class="row">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img
                                    src="https://search.pstatic.net/common/?src=https%3A%2F%2Fssl.pstatic.net%2Fsstatic%2Fpeople%2Fportrait%2F201807%2F20180731143610623-6213324.jpg&type=u120_150&quality=95"
                                    alt="Placeholder image"
                            />
                        </figure>
                    </div>
                    <div style="font-family:MS Gothic"; class="col-sm-8"><b>손흥민</b></div>
                    <div style="font-family:MS Gothic"; class="col-sm-4"><b>포지션:공격수</b></div>
                </div>
                <div class="row">
                    <div style="font-family:MS Gothic"; class="col-sm"><b>출전 경기수:23</b></div>
                    <div style="font-family:MS Gothic"; class="col-sm"><b>골: 13</b></div>
                    <div style="font-family:MS Gothic"; class="col-sm"><b>어시스트:7</b></div>
                </div>
                <br>
                <br>
                <br>
                <footer class="card-footer">
                    <a href="#" onclick="likeStar('김다미')" class="card-footer-item has-text-info">
                        축신!
                        <span class="icon">
              <i class="fas fa-thumbs-up"></i>
            </span>

                    </a>
                    <br>
                    <a href="#" onclick="deleteStar('김다미')" class="card-footer-item has-text-danger">
                        별로
                        <span class="icon">
              <i class="fas fa-ban"></i>
            </span>
                    </a>
                </footer>
            </div>
        </div>
    </body>

</html>